/* VARIABLES */
:root {
  --pxsm: 3px;
  --psm: 5px;
  --pmd: 10px;
  --plg: 15px;

  --rsm: 3px;
  --rmd: 5px;

  --input-dur: .3s;
  --input-height: 3rem;
  --input-btn-width: 6rem;

  --color-dark: #2f2f2f;
  --color-light: #fff;
  --white-rgb: 255, 255, 255;
  
  --color-background-light: #202c33;
  --color-background-dark: #111b21;
  --color-background-darker: #0a1014;
  --color-text-primary: #d1d7db;
  --color-text-secondary: #8696a0;
  --color-bubble-sent: #005c4b;
  --color-bubble-sent-darker: #00473a;
  --color-seen: #53bdeb;
  --color-background-active: #2a3942;
  --color-background-hover: #202c33;

  --bez: cubic-bezier(0, 0, 0.43, 1.49);

  --floating-z-index: 10;
}

/* GLOBALS */


html { box-sizing: border-box; height: 100%; font-size: 10px; } 

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

*, *::before, *::after { box-sizing: inherit; }


/* HOME PAGE */

#chatPage, #loginPage, #avatarPickerPage, #newRoomPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--color-background-dark);
  color: var(--color-text-secondary);
  display: none;  /* initially hidden */
}

#newRoomButton {
  position: absolute;
  left: var(--plg);
  bottom: var(--plg);
  padding: var(--plg);
  background-color: var(--color-bubble-sent);
  border-radius: var(--psm);
  transition: all 300ms;
  cursor: pointer;
  font-size: larger;
}

#newRoomButton:hover{
  background-color: var(--color-bubble-sent-darker);
}

#loginPage {
  display: flex;  /* initially visible */
  align-items: center;
  justify-content: center;
}

#newRoomPage {
  align-items: center;
  justify-content: center;
}

#avatarPickerPage {
  align-items: center;
  justify-content: center;
}

.chatListsPane {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;

  max-height: 100vh;
}
.chatPane {
  flex: 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-device-width: 767px) {
  .breakpoint-lg {
    display: none;
  }
}

.avatarsCard .avatars {
  padding-top: var(--pmd);
  gap: var(--plg);
  max-width: 70vw;
  display: grid;
  overflow: auto;
  padding-bottom: var(--pmd);
}

.avatarsCard .description {
  padding-left: var(--pmd);
  padding-bottom: var(--pmd);
  display: flex;
  justify-content: center;
}

.avatarsCard .avatars .avatar {
  width: 75px;
  height: 75px;
  grid-row: 1;
  transition: all 300ms;
}

.avatarsCard .avatars .avatar:hover {
  transform: scale(1.1);
}

.avatarsCard .avatars img {
  cursor: pointer;
}

.avatarsCard .avatars::-webkit-scrollbar {
  height: 5px;
}

#searchbar {
  padding: var(--psm);
}

#chatsList {
  flex: 1;
  display: block;
  overflow-y: auto;
}

.appBar{
  min-height: 50px;
  background-color: var(--color-background-light);
}

.shadow-bottom {
  position: relative;
  z-index: var(--floating-z-index);
  box-shadow: 0 7px 15px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-top {
  position: relative;
  z-index: var(--floating-z-index);
  box-shadow: 0 -7px 15px rgba(0,0,0,0.19), 0 -6px 6px rgba(0,0,0,0.23);
}

.messages{
  flex: 1;
  display: block;
  flex-direction: column;
  justify-content: end;
  padding: var(--pmd);
  overflow-y: auto;
}

.bottom-top-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-items: end;
  justify-content: end;
}

#inputTools {
  min-height: 75px;
}

#chatsList .chat {
  display: flex;
  padding-top: var(--psm);
  padding-bottom: var(--psm);
  cursor: pointer;
  border-bottom: 1px solid #2a3942;
}

#chatsList .chat.active {
  background-color: var(--color-background-active);
}

.support-emojis {
  font-family: Color Emoji,Segoe UI Emoji,Noto Color Emoji,Android Emoji,EmojiSymbols,EmojiOne Mozilla,Twemoji Mozilla,Segoe UI Symbol,Noto Color Emoji Compat,emoji,noto-emojipedia-fallback;
  font-weight: 400;
  font-size: 1.3rem;
}

#chatsList .chat:hover:not(.active) {
  background-color: var(--color-background-hover);
}

.profilePicture {
  display: flex;
  align-items: center;
  padding: var(--pmd);
}

.avatar {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.with-user-info {
  display: flex;
  gap: var(--psm);
  flex-direction: row;
  max-width: 60%;
}

.from-display-name {
  padding-top: var(--pxsm);
  padding-bottom: var(--pxsm);
  font-weight: bold;
}


.avatar.small {
  width: 20px;
  height: 20px;
}

.message .avatar {
  cursor: pointer;
}

#chatsList .chat>.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

#chatsList .chat>.time {
  padding-left: var(--pmd);
  padding-right: var(--pmd);
  padding-top: var(--plg);
}
#chatsList .chat>.text>.username {
  color: var(--color-text-primary);
  font-size: 1.2rem;
  padding-bottom: var(--pxsm);
}

.chatPane > .header {
  display: flex;
  align-items: center;
}

.chatPane > .header .username {
  padding-left: var(--pmd);
  color: var(--color-text-primary);
  font-size: 1.5rem;
}

.chatListsPane .toolbar {
  display: flex;
  align-items: center;
}

.chatListsPane .toolbar .username {
  padding-left: var(--pmd);
  color: var(--color-text-secondary);
  font-size: 1.5rem;
}

.chatListsPane .toolbar .avatar {
  cursor: pointer;
}

.chatPane > .inputTools {
  padding: var(--psm);
  display: flex;
}

.chatPane > .inputTools > .message {
  flex: 1;
  display: flex;
  align-items: center;
}

.chatPane > .inputTools > .emojisButton {
  padding: var(--psm);
}

.loginCard {
  max-width: 450px;
}

.loginCard .hint {
  width: 100%;
  display: flex;
  align-content: end;
  justify-content: end;
  padding-top: var(--psm);
  font-size: 1.2rem;
  visibility: hidden;  /* initial state */
}

.newRoomCard {
  max-width: 450px;
}

.newRoomCard .hint {
  width: 100%;
  display: flex;
  align-content: end;
  justify-content: end;
  padding-top: var(--psm);
  font-size: 1.2rem;
  visibility: hidden;  /* initial state */
}

.doodleBackground {
  /* generator https://doodad.dev/pattern-generator/ */
  background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='19.63' height='34' viewBox='0 0 34.64101615137755 60' patternUnits='userSpaceOnUse' patternTransform='rotate(136)'%3E%3Crect width='100%25' height='100%25' fill='rgba(10, 16, 20,1)'/%3E%3Cpath d='M36.37 39L36.37 41L32.91 39L34.64 38L34.64 42L32.91 41L34.64 40z' stroke-linejoin='miter' fill='rgba(0, 92, 75,0.4)'/%3E%3Cpath d='M19.05 49L19.05 51L15.59 49L17.32 48L17.32 52L15.59 51L17.32 50z' stroke-linejoin='miter' fill='rgba(0, 92, 75,0.4)'/%3E%3Cpath d='M1.73 39L1.73 41L-1.73 39L0 38L0 42L-1.73 41L0 40z' stroke-linejoin='miter' fill='rgba(0, 92, 75,0.4)'/%3E%3Cpath d='M1.73 19L1.73 21L-1.73 19L0 18L0 22L-1.73 21L0 20z' stroke-linejoin='miter' fill='rgba(0, 92, 75,0.4)'/%3E%3Cpath d='M19.05 9L19.05 11L15.59 9L17.32 8L17.32 12L15.59 11L17.32 10z' stroke-linejoin='miter' fill='rgba(0, 92, 75,0.4)'/%3E%3Cpath d='M36.37 19L36.37 21L32.91 19L34.64 18L34.64 22L32.91 21L34.64 20z' stroke-linejoin='miter' fill='rgba(0, 92, 75,0.4)'/%3E%3Cpath d='M34.64 40L34.64 40L34.64 40L34.64 40L34.64 40L34.64 40L34.64 40z' stroke-linejoin='miter' fill='rgba(32, 44, 51,1)'/%3E%3Cpath d='M17.32 50L17.32 50L17.32 50L17.32 50L17.32 50L17.32 50L17.32 50z' stroke-linejoin='miter' fill='rgba(32, 44, 51,1)'/%3E%3Cpath d='M0 40L0 40L0 40L0 40L0 40L0 40L0 40z' stroke-linejoin='miter' fill='rgba(32, 44, 51,1)'/%3E%3Cpath d='M0 20L0 20L0 20L0 20L0 20L0 20L0 20z' stroke-linejoin='miter' fill='rgba(32, 44, 51,1)'/%3E%3Cpath d='M17.32 10L17.32 10L17.32 10L17.32 10L17.32 10L17.32 10L17.32 10z' stroke-linejoin='miter' fill='rgba(32, 44, 51,1)'/%3E%3Cpath d='M34.64 20L34.64 20L34.64 20L34.64 20L34.64 20L34.64 20L34.64 20z' stroke-linejoin='miter' fill='rgba(32, 44, 51,1)'/%3E%3Cpath d='M17.32 30L17.32 30L17.32 30L17.32 30L17.32 30L17.32 30L17.32 30z' stroke-linejoin='miter' fill='rgba(0, 92, 75,0.4)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
}

.messages .line {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--psm);
}

.messages .line.received {
  align-items: flex-start;
}

.messages .line.sent {
  align-items: flex-end;
}

.messages .daySeparator > .snack {
  background-color: var(--color-background-light);
  padding: var(--psm);
  padding-left: var(--pmd);
  padding-right: var(--pmd);
  border-radius: var(--rsm);
}

.messages .message .bubble {
  padding: var(--psm);
  padding-right: var(--pmd);
  padding-left: var(--pmd);
  border-radius: var(--rsm);
  overflow-wrap: anywhere;
}

.messages .message .bubble > .content {
  color: var(--color-text-primary);
}

.messages .message.received .bubble {
  background-color: var(--color-background-light);
}

.messages .message.sent .bubble {
  background-color: var(--color-bubble-sent);
}

.messages .message.sent .bubble {
  padding-right: var(--psm);
}


.messages .message .bubble > .meta {
  display: flex;
  width: 100%;
  justify-content: end;
  padding-top: var(--psm);
}

.messages .message .bubble > .meta > .status.seen {
  color: var(--color-seen);
}

#usernameInput{
  margin-top: var(--psm);
}

#newRoomInput{
  margin-top: var(--psm);
}

/* input 
    src: https://codepen.io/liamj/pen/vYYLGZj 
*/

input[type="text"] {
  height: var(--input-height);
  border: 0;
  color: var(--color-text-primary);
  outline: 0;
  width: 100%;
  background: var(--color-background-light);
  padding: 0 1.6rem;
  border-radius: var(--rsm);
  appearance: none;
  transition: all var(--input-dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}


/* scrollbar
      src: https://dev.to/xtrp/how-to-create-a-beautiful-custom-scrollbar-for-your-site-in-plain-css-1mjg
*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(var(--white-rgb),.16);
  background-clip: content-box;
}